<h1>Welcome <%= @user.username %></h1>

<br><br>

<h3><%= link_to 'Your Recipes', user_recipes_path(@user) %></h3>
<h3><%= linkt_ 'Ingredients', ingredients_path %></h3>

<br><br>

<%= link_to "Log Out", logout_path %>
