<div class= "ingredientForm">
  <%= label_tag "Ingredient" %>
  <br>
  <%= text_field_tag "ingredients[][name]" %>
  <br>
  <%= label_tag "quantity" %>
  <br>
  <%= text_field_tag "ingredients[][name][quantity]" %> <a href= '#' onclick= "removeIngredient($(this))" class = "remove-ingredient" > X </a>
  <br>
</div>