<h1>All Recipes</h1>

<% @recipes.each_with_index do |recipe, i| %>
  <%= "#{i+1} ." %><%= link_to recipe.name, recipe_path(recipe) %> by <%= link_to recipe.user.name, user_path(recipe.user) %> <br>
<% end %>

<br><br>

<%= link_to 'Back', user_path(@current_user) %>
